body {
    margin:0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.containerNav{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    background-color: transparent;
    margin: 0;
}
.logo{
    width: 13%;
    position: fixed;
    margin-left: 5px;
}
.navbar {
    display: flex;
    justify-content: end;
    /* position: fixed; */
    height: 150px;
    margin: 0;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 25px;
    cursor: pointer;
    
    
    
}
.navbar li {
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 0 10px 0;
}
.navbar a{
    list-style: none;
    text-decoration: none;
    margin-top: 25px;
    color: black;
}
.containerActu {
    width: 100%;
    height: 80vh;
    margin-left: 15px;
    margin: 0;
}
.title{
}

h2{
    display: flex;
    justify-content: center;
}
.actualite {
width: 100%;
}
.containerCarts{
    height: 70vh;
    /* width:100%; */
    display: flex;
    justify-content: center;
    /* background-color: beige; */
    
    /* margin: 5px; */

}
.cartsActu{
    height: 90vh;
    width: 25%;
    /* margin-left: 20px; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.title2{
    /* border: solid 1px black; */
    /* height: 9vh; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.imageActu{
    /* border: solid 1px black; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.actuImage{
    height: 100%;
    width: 100%;
    /* border: solid 1px black; */
}
.descriptionActu{
    height: 40vh;
}
.btn{
    display: flex;
    justify-content: flex-end; 
    align-items: end;  
    width: 100%;
}
.btnSuite{
    border-radius: 30px;
    background-color: black;
    color: white;
    

}
.cartsActu2{
    height: 90vh;
    margin-left: 25px;
    width: 25%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.title2B{
    height: 7vh;
}


.imageActu2{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; 
}
.actuImage2{
    height: 100%;
    width: 100%;
}
.descriptionActu2{
    height: 40vh;
}
.btn2{
    display: flex;
    justify-content: flex-end; 
    align-items: end;  
    width: 100%;
}
.btnSuite2{
    border-radius: 30px;
    background-color: black;
    color: white;
}
.cartsActu3{
    height: 90vh;
    margin-left: 25px;
    width: 25%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.title3B{
    height: 7vh;
}


.imageActu3{
   
}
.actuImage3{
    height: 100%;
    width: 100%;
}
.descriptionActu3{
    height: 40vh;
}
.btn3{
    display: flex;
    justify-content: flex-end; 
    align-items: end;  
    width: 100%;
}
.btnSuite3{
    border-radius: 30px;
    background-color: black;
    color: white;
    

}
p{
    padding: 10px;
}
