body {
    margin:0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
.containernav{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
   
}
.logo{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;

}
.navbar {
    display: flex;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    
}
.navbar ul{
    display: flex;
    justify-content: end;
    list-style: none;
    margin-left: 25px;
    cursor: pointer;

}
.navbar li {
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 0 10px 0;
    
}
.navbar a{
    list-style: none;
    text-decoration: none;
    margin-top: 25px;
    color: black;
    
   
    
}
/* h1{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}
.containerform{
    display: flex;
    justify-content: center;
}
.formulaire{
    border: solid 1px;
    height: 30vh;
    width: 65%; 
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.273); 
    margin-bottom: 20px;
   
}

.formulaire input {
    margin: 20px 25px; 
  
    
}
.dark {
    margin-top: 20px;
} */

h2 {
display: flex;
align-items: center;
}
.footer{
    height: 25vh;
    display: flex;
    background-color: black;
    color: white;
    margin-top: 50px;
   
}
.logofooter img{
    height: 100%;
    width: 25%;
    
}
.mention  {
    display: flex;
    justify-content: center;
    align-items: end;
   
    
}
.mention p{
    margin: 10px;
}